---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout 
  title="About" 
  description="Tentang KitaJoki.in, penyedia jasa joki terpercaya di Indonesia."
>
  <section class="py-8">
    <h2 class="text-3xl font-bold text-center mb-4">About KitaJoki.in</h2>
    <p class="text-lg">Kami adalah tim profesional yang berdedikasi untuk membantu Anda mencapai tujuan melalui layanan joki yang aman dan terpercaya.</p>
  </section>
</MainLayout>
